@{ 
    void CreateTable(int size)
    {
    <table>
        <tbody>
            @for (int i = 1; i <= size; i++)
            {
                <tr>
                    @for (int j = 1; j <= size; j++)
                    {
                        <td style="border : 1px solid black; background-color: rgb(@(i * (size - j) * 255 / (size*size)),@(i * j * 255 / (size*size)),@((size - i) * j * 255 / (size*size)))">@(i * j)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    }
}

@{CreateTable((int)ViewData["nbCase"]);}
